.featured {
  &-list {
    .marquee {
      &-wrap {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 48px;
        @media (max-width: 991px) {
          margin-bottom: 32px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-scroll {
        display: flex;
        position: relative;
        will-change: transform;
      }
      &-list {
        will-change: transform;
        &-wrap {
          flex: none;
        }
      }
      &-item {
        margin: 0 15px;
        flex: none;
        max-width: 170px;
        @media (max-width: 991px) {
          margin: 0 16px;
          max-width: 140px;
        }
        .logo-icon {
          width: 100%;
          aspect-ratio: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: auto;
            height: auto;
            display: block;
          }
        }
      }
    }
  }
  &-top {
    margin-bottom: 120px;
    @media (max-width: 991px) {
      margin-bottom: 80px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  &-inner {
    @media (max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
