#footer {
  background-color: var(--color-black-op);
  position: relative;
  z-index: 0;

  .footer-ovl {
    height: var(--footer-height, 0px);
    pointer-events: none;
  }

  .footer-container {
    position: fixed;
    left: 50%;
    right: auto;
    bottom: 0;
    z-index: 0;
    transform: translateX(-50%);
  }

  .footer {
    &-form {
      .form-row {
        margin-bottom: 24px;
        &.full-col {
          .form-input {
            height: auto;
            textarea {
              resize: none;
              border: none;
              height: 100%;
              display: block;
              box-sizing: border-box;
            }
            label {
              top: 24px;
            }
          }
        }
        &.two-col {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0 24px;
        }
        input {
          border: none;
        }
      }
      .form-input {
        position: relative;
        width: 100%;
        background-color: var(--color-white);
        height: 60px;
        input,
        textarea {
          width: 100%;
          height: 100%;
          padding: 0 24px;

          &:focus + label,
          &:not(:placeholder-shown) + label {
            opacity: 0;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
            -webkit-text-fill-color: var(--color-black);
            caret-color: var(--color-black);
            transition: background-color 9999s ease-in-out 0s;
          }
        }
        label {
          position: absolute;
          left: 24px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          opacity: 1;
          transition: opacity 0.4s ease;

          &.error {
            color: #ff3b30;
          }

          span {
            color: #ff3b30;
          }
        }
      }

      .dropdown-custom-text span span {
        color: #ff3b30;
      }

      .dropdown-custom-text.error {
        color: #ff3b30;
      }

      .form-message,
      .form-mesage {
        display: none;
        margin-top: 24px;
        color: var(--color-white);
        text-align: center;

        &.active {
          display: block;
        }
      }
    }
  }
}

main {
  position: relative;
  z-index: 1;
  background-color: var(--color-black);
}
