.distortion-img {
  width: 100%;
  height: 100%;
  position: relative;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
  }
}
.distortion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //   display: none;
}
// text line
.hover-text-underline,
.hover-text-underline-black {
  display: inline-block;
  position: relative;
  &:hover,
  &.active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hover-text-underline-black {
  &::before {
    background-color: var(--color-black);
  }
}
// button
.global-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  transition: all 0.4s ease;
  &.bgc-transparent {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }
  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &.aloading {
    pointer-events: none;
    position: relative;
    color: transparent !important;

    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-radius: 50%;
      border-top: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      width: 20px;
      height: 20px;
      animation: spin-animation 1s linear infinite;
      z-index: 2;
      background: 0 0;
    }

    @keyframes spin-animation {
      0% {
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
// swiper
.swiper-el-parallax {
  .swiper-pagination {
    &-bullet {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
      &-active {
        background-color: var(--color-white);
      }
    }
  }
}
// spacing
.spacing-lg-120 {
  height: 120px;
}
// dropdown
.dropdown-custom-select {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  .dropdown-custom-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    .value-select {
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: var(--color-black);
    }
  }
  .dropdown-custom-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-black);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    transform: translateY(20px);
    &.dropdown--active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .dropdown-custom-item {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--color-white);
    cursor: pointer;
  }
}
@media (max-width: 991px) {
  .px-80 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .spacing-lg-120 {
    height: 80px;
  }
  .mb-64 {
    margin-bottom: 48px;
  }
  .gap-64 {
    gap: 48px;
  }
}
