<div class="footer-container py-80 px-80 limit-10-col">
  <div class="footer-inner">
    <h3
      class="footer-title font-heading heading-2 color-white text-uppercase text-center mb-48"
    >
      Contact
    </h3>
    <div class="footer-form">
      <form action="">
        <div class="form-row two-col">
          <div class="form-input">
            <input
              type="text"
              class="b1-font color-black font-body"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body">Name*</label>
          </div>
          <div class="form-input">
            <input
              type="tell"
              class="b1-font color-black font-body"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body">Phone*</label>
          </div>
        </div>
        <div class="form-row two-col">
          <div class="form-input">
            <input
              type="email"
              class="b1-font color-black font-body"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body">Email*</label>
          </div>

          <div class="form-input">
            <div class="dropdown-custom-select">
              <div class="dropdown-custom-btn">
                <div class="value-select dropdown-custom-text">
                  <span>Service*</span>
                </div>
                <div class="icon">
                  <svg
                    width="12"
                    height="8"
                    viewBox="0 0 12 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.36853 0.337891L5.86853 6.33789L11.3685 0.337891"
                      stroke="#111"
                    />
                  </svg>
                </div>
              </div>
              <div class="dropdown-custom-menu">
                <div class="dropdown-custom-item">
                  <span>100 000 000</span>
                </div>
                <div class="dropdown-custom-item">
                  <span>200 000 000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row two-col">
          <div class="form-input">
            <input
              type="text"
              class="b1-font color-black font-body"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body">Timeline*</label>
          </div>
          <div class="form-input">
            <input
              type="text"
              class="b1-font color-black font-body"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body">Budget*</label>
          </div>
        </div>
        <div class="form-row full-col">
          <div class="form-input">
            <textarea
              class="b1-font color-black font-body"
              placeholder=" "
              rows="5"
            ></textarea>
            <label class="label b1-font color-black font-body">Message*</label>
          </div>
        </div>
        <div class="form-row d-flex justify-content-center mt-48 mb-0">
          <button class="global-button bgc-transparent">
            Let’s build your brand
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
