<div class="footer-ovl" aria-hidden="true"></div>
<div class="footer-container py-80 px-80 limit-10-col">
  <div class="footer-inner">
    <h3
      class="footer-title font-heading heading-2 color-white text-uppercase text-center mb-48"
    >
      Contact
    </h3>
    <div class="footer-form">
      <form action="" class="contact-form">
        <div class="form-row two-col">
          <div class="form-input">
            <input
              type="text"
              name="name"
              class="b1-font color-black font-body required"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body"
              >Name<span>*</span></label
            >
          </div>
          <div class="form-input">
            <input
              type="tel"
              name="phone"
              class="b1-font color-black font-body required"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body"
              >Phone<span>*</span></label
            >
          </div>
        </div>
        <div class="form-row two-col">
          <div class="form-input">
            <input
              type="email"
              name="email"
              class="b1-font color-black font-body required"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body"
              >Email<span>*</span></label
            >
          </div>

          <div class="form-input">
            <div class="dropdown-custom-select">
              <input type="hidden" name="service" class="required" value="" />
              <div class="dropdown-custom-btn">
                <div class="value-select dropdown-custom-text">
                  <span>Service<span>*</span></span>
                </div>
                <div class="icon">
                  <svg
                    width="12"
                    height="8"
                    viewBox="0 0 12 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.36853 0.337891L5.86853 6.33789L11.3685 0.337891"
                      stroke="#111"
                    />
                  </svg>
                </div>
              </div>
              <div class="dropdown-custom-menu">
                <div class="dropdown-custom-item">
                  <span>100 000 000</span>
                </div>
                <div class="dropdown-custom-item">
                  <span>200 000 000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row two-col">
          <div class="form-input">
            <input
              type="text"
              name="timeline"
              class="b1-font color-black font-body required"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body"
              >Timeline<span>*</span></label
            >
          </div>
          <div class="form-input">
            <input
              type="text"
              name="budget"
              class="b1-font color-black font-body required"
              placeholder=" "
            />
            <label class="label b1-font color-black font-body"
              >Budget<span>*</span></label
            >
          </div>
        </div>
        <div class="form-row full-col">
          <div class="form-input">
            <textarea
              name="message"
              class="b1-font color-black font-body required"
              placeholder=" "
              rows="3"
            ></textarea>
            <label class="label b1-font color-black font-body"
              >Message<span>*</span></label
            >
          </div>
        </div>
        <div class="form-message" style="display: none">
          Register successful!!
        </div>
        <div class="form-row d-flex justify-content-center mt-48 mb-0">
          <button type="submit" class="global-button bgc-transparent">
            Let’s build your brand
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
