<div class="footer-container py-80 px-80">
    <div class="footer-inner limit-10-col">
        <h3 class="footer-title font-heading heading-2 color-white text-uppercase text-center mb-48">Contact</h3>
        <div class="footer-form">
            <form action="">
                <div class="form-row two-col">
                    <div class="form-input">
                        <input type="text" class=" b1-font color-black font-body" placeholder=" ">
                        <label class="label b1-font color-black font-body">Name*</label>
                    </div>
                    <div class="form-input">
                        <input type="tell" class=" b1-font color-black font-body" placeholder=" ">
                        <label class="label b1-font color-black font-body">Phone*</label>
                    </div>
                </div>
                <div class="form-row two-col">
                    <div class="form-input">
                        <input type="email" class=" b1-font color-black font-body" placeholder=" ">
                        <label class="label b1-font color-black font-body">Email*</label>
                    </div>

                    <div class="form-input">
                        <div class="dropdown-custom-select ">
                            <div class="dropdown-custom-btn">
                                <div class="value-select">
                                    <span>Service*</span>

                                </div>
                                <div class="icon">
                                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                                            stroke="white" stroke-linejoin="bevel" />
                                    </svg>
                                </div>
                            </div>
                            <div class="dropdown-custom-menu">
                                <div class="dropdown-custom-item">
                                    <span>100 000 000</span>

                                </div>
                                <div class="dropdown-custom-item">
                                    <span>100 000 000</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row two-col">
                    <div class="form-input">
                        <input type="text" class=" b1-font color-black font-body" placeholder=" ">
                        <label class="label b1-font color-black font-body">Timeline*</label>
                    </div>
                    <div class="form-input">
                        <input type="text" class=" b1-font color-black font-body" placeholder=" ">
                        <label class="label b1-font color-black font-body">Budget*</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>