<div class="header-container d-flex flex-column align-items-center justify-content-center w-100">
    <div class="header-top">
        <a href="./index.html" class="header-logo d-inline-block">
            <img src="./assets/images/icon/logo.svg" alt="">
        </a>
    </div>

    <div class="header-main">
        <div class="header-menu">
            <ul>
                <li>
                    <a href="./index.html" class="hover-text-underline font-body b2-font color-white">
                        <span>Home</span>
                    </a>
                </li>
                <li class="menu-item-has-children">
                    <a href="./services.html" class="hover-text-underline">
                        <span>Services</span>
                    </a>
                    <div class="icon">
                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.36853 0.337891L5.86853 6.33789L11.3685 0.337891" stroke="white" />
                        </svg>

                    </div>
                    <div class="sub-menu">
                        <ul>
                            <li>
                                <a href="./branding.html"
                                    class="hover-text-underline-black font-body color-black b1-font">Branding</a>
                            </li>
                            <li>
                                <a href="./*.html"
                                    class="hover-text-underline-black font-body color-black b1-font">Marketing</a>
                            </li>
                            <li>
                                <a href="./*.html"
                                    class="hover-text-underline-black font-body color-black b1-font">Media</a>
                            </li>
                            <li>
                                <a href="./*.html"
                                    class="hover-text-underline-black font-body color-black b1-font">Interior</a>
                            </li>
                            <li>
                                <a href="./*.html"
                                    class="hover-text-underline-black font-body color-black b1-font">F&B</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="./process.html" class="hover-text-underline"> <span>Process</span></a>
                </li>
                <li>
                    <a href="./about.html" class="hover-text-underline font-body b2-font color-white">
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a href="./founder.html" class="hover-text-underline font-body b2-font color-white">
                        <span>Founder</span>
                    </a>
                </li>
                <li>
                    <a href="./contact.html" class="hover-text-underline font-body b2-font color-white">
                        <span>Founder</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
